<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>eltc.web.AppListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>eltc.web.SessionCounterListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>eltc.web.SessionUserListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>eltc.web.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>eltc.web.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/111</url-pattern>
        <url-pattern>/save</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/create</url-pattern>
        <url-pattern>/index.asp</url-pattern>
        <url-pattern>/registration</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/view</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/index.php</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/show</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/toLogin</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/asyncSearch</url-pattern>
        <url-pattern>/deleteFile</url-pattern>
        <url-pattern>/test_mode</url-pattern>
        <url-pattern>/Controller</url-pattern>
        <url-pattern>/emailListCreate</url-pattern>
        <url-pattern>/toRegistry</url-pattern>
        <url-pattern>/createUpload</url-pattern>
        <url-pattern>/upload</url-pattern>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <display-name>allPages</display-name>
            <url-pattern>/WEB-INF/listFragments/*</url-pattern>
            <url-pattern>/WEB-INF/jspf/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>headerFooter</display-name>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
